header {
color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

Footer{
color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
}

body{


}
